extend layout

block content
  .jumbotron.showcase
    .container
      h1 #{title}
      p.lead A simple and clean sports based blog
  .container
    .row
      .col-md-12
        each article, i in articles
          h2.post-title #{article.title}
          h4.post-subtitle #{article.subtitle}
          p.post-meta
            | Posted by #{article.author}
            | on #{moment(article.created_at).format('MMMM Do YYYY, h:mm:ss a')}